:root {
  --red: #FF7A7A;
  --green: #38CC8C;
  --blue: #6055A5;
  --dark-blue: #3E3C49;
  --grayish-blue: #B9B6D3;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
